<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" *ngIf="!editando" class="fw700">{{ 'TRUCKS.createTruck' | translate }}</ion-text>
          <ion-text color="light" *ngIf="editando" class="fw700">{{ 'TRUCKS.editTitle' | translate }}</ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background-content">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12" >
        <ion-card class="card-color">
          <ion-card-content>
            <ion-label position="stacked">{{ 'TRUCKS.plate' | translate }}</ion-label>
            <ion-list class="line-input">
              <ion-item>
                <ion-input placeholder="{{ 'TRUCKS.plate' | translate }}" [(ngModel)]="plate" [disabled]="isdisabled"></ion-input>
              </ion-item>
            </ion-list>
            <ion-label position="stacked">{{ 'TRUCKS.brand' | translate }}</ion-label>
            <ion-list class="line-input">
              <ion-item>
                <ion-input placeholder="{{ 'TRUCKS.brand' | translate }}" [(ngModel)]="brand"></ion-input>
              </ion-item>
            </ion-list>
            <ion-label position="stacked">{{ 'TRUCKS.model' | translate }}</ion-label>
            <ion-list class="line-input">
              <ion-item>
                <ion-input placeholder="{{ 'TRUCKS.model' | translate }}" [(ngModel)]="model"></ion-input>
              </ion-item>
            </ion-list>
            <ion-label position="stacked">{{ 'TRUCKS.year' | translate }}</ion-label>
            <ion-list class="line-input">
              <ion-item>
                <ion-input placeholder="{{ 'TRUCKS.year' | translate }}" [(ngModel)]="year"></ion-input>
              </ion-item>
            </ion-list>
            <ion-label position="stacked">{{ 'TRUCKS.capacity' | translate }}</ion-label>
            <ion-list class="line-input">
              <ion-item>
                <ion-input placeholder="{{ 'TRUCKS.capacity' | translate }}" [(ngModel)]="capacity"></ion-input>
              </ion-item>
            </ion-list>
            <ion-label position="stacked">{{ 'TRUCKS.driverName' | translate }}</ion-label>
            <ion-list class="line-input">
              <ion-item>
                <ion-input placeholder="{{ 'TRUCKS.driverName' | translate }}" [(ngModel)]="driver"></ion-input>
              </ion-item>
            </ion-list>
            <ion-label position="stacked">{{ 'TRUCKS.routee' | translate }}</ion-label>
            <ion-list class="line-input">
              <ion-item>
                <ion-input placeholder="{{ 'TRUCKS.routee' | translate }}" [(ngModel)]="routee"></ion-input>
              </ion-item>
            </ion-list>
            <ion-label position="stacked">{{ 'TRUCKS.company' | translate }}</ion-label>
            <ion-list class="line-input">
              <ion-item>
                  <ion-select placeholder="{{ 'TRUCKS.company' | translate }}" [(ngModel)]="company" interface="popover">
                    <ion-select-option *ngFor="let compania of companias" value="{{compania.com_nombre}}">{{compania.com_nombre}}</ion-select-option>
                  </ion-select>
              </ion-item>
            </ion-list>
            
              <div id="padding"></div>
            
              <ion-button size="large" expand="block" *ngIf="editando" (click)="createTruck()" color='primary' >{{ 'USERS.update' | translate }}</ion-button>
              <ion-button size="large" expand="block" *ngIf="!editando" (click)="createTruck()" color='primary' >{{ 'TRUCKS.addTruck' | translate }}</ion-button>
              <div id="padding"></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
</ion-content>
