<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" *ngIf="!editando" class="fw700">{{ 'TRUCKS.createTruck' | translate }}</ion-text>
          <ion-text color="light" *ngIf="editando" class="fw700">{{ 'TRUCKS.editTitle' | translate }}</ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background-content">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12" >
        <ion-card class="card-color">
          <ion-card-content>
            <ion-label position="stacked">{{ 'TRUCKS.plate' | translate }}</ion-label>
            <ion-list class="line-input">
              <ion-item>
                <ion-input placeholder="{{ 'TRUCKS.plate' | translate }}" [(ngModel)]="plate" [disabled]="isdisabled"></ion-input>
              </ion-item>
            </ion-list>
            <ion-label position="stacked">{{ 'TRUCKS.brand' | translate }}</ion-label>
            <ion-list class="line-input">
              <ion-item>
                <ion-input placeholder="{{ 'TRUCKS.brand' | translate }}" [(ngModel)]="brand"></ion-input>
              </ion-item>
            </ion-list>
            <ion-label position="stacked">{{ 'TRUCKS.model' | translate }}</ion-label>
            <ion-list class="line-input">
              <ion-item>
                <ion-input placeholder="{{ 'TRUCKS.model' | translate }}" [(ngModel)]="model"></ion-input>
              </ion-item>
            </ion-list>
            <ion-label position="stacked">{{ 'TRUCKS.year' | translate }}</ion-label>
            <ion-list class="line-input">
              <ion-item>
                <ion-input placeholder="{{ 'TRUCKS.year' | translate }}" [(ngModel)]="year"></ion-input>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
          </ion-col>
            <ion-col>
              <ion-card class="card-color">
                <ion-card-content>
                  <ion-label position="stacked">{{ 'TRUCKS.capacity' | translate }}</ion-label>
                  <ion-list class="line-input">
                    <ion-item>
                      <ion-input placeholder="{{ 'TRUCKS.capacity' | translate }}" [(ngModel)]="capacity"></ion-input>
                    </ion-item>
                  </ion-list>
                  <ion-label position="stacked">{{ 'TRUCKS.driverName' | translate }}</ion-label>
                  <ion-list class="line-input">
                    <ion-item>
                      <ion-input placeholder="{{ 'TRUCKS.driverName' | translate }}" [(ngModel)]="driver"></ion-input>
                    </ion-item>
                  </ion-list>
                  <ion-label position="stacked">{{ 'TRUCKS.routee' | translate }}</ion-label>
                  <ion-list class="line-input">
                    <ion-item>
                      <ion-input placeholder="{{ 'TRUCKS.routee' | translate }}" [(ngModel)]="routee"></ion-input>
                    </ion-item>
                  </ion-list>
                  <ion-label position="stacked" >{{ 'AREAS.areasTitle' | translate }}</ion-label>
                  <ion-list class="line-input">
                    <ion-item>
                      <select [(ngModel)]="rubro" style="background-color: inherit; border-color: transparent;">
                        <option selected [value]="none" disabled style="text-align: right; " >{{ 'AREAS.areasTitle' | translate }}</option>
                        <option *ngFor="let rubro of rubros" [value]="rubro.rubro_nombre" style="text-align: right; color: black;" >
                          {{rubro.rubro_nombre}}
                        </option>
                      </select>
                    </ion-item>
                  </ion-list>
                  <ion-label position="stacked" *ngIf="isSuper">{{ 'TRUCKS.company' | translate }}</ion-label>
                  <ion-list class="line-input">
                    <ion-item *ngIf="isSuper">
                      <select [(ngModel)]="company" style="background-color: inherit; border-color: transparent;">
                        <option selected [value]="none" disabled style="text-align: right; " >{{ 'TRUCKS.company' | translate }}</option>
                        <option *ngFor="let compania of companias" [value]="compania.com_nombre" style="text-align: right; color: black;" >
                          {{compania.com_nombre}}
                        </option>
                      </select>
                    </ion-item>
                  </ion-list>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <div id="padding"></div>
            <ion-button size="large" expand="block" *ngIf="editando" (click)="createTruck()" color='primary' >{{ 'USERS.update' | translate }}</ion-button>
            <ion-button size="large" expand="block" *ngIf="!editando" (click)="createTruck()" color='primary' >{{ 'TRUCKS.addTruck' | translate }}</ion-button>
            <div id="padding"></div>
          </ion-row>
  </ion-grid>
  
  
</ion-content>
