<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">{{ 'USERS.users' | translate }}</ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
      <ngx-datatable
        class="material" 
        [rows]="rows"
        [rowHeight]="auto"
        [headerHeight]="50"
        [footerHeight]="50"
        [columnMode]="force"
        [scrollbarH]="true"
        >

      <ngx-datatable-column name="{{ 'USERS.name' | translate }}" [flexGrow]="5/2">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.usuario_nombre}}
        </ng-template>
      </ngx-datatable-column>

     <ngx-datatable-column name="{{ 'USERS.lastname' | translate }}" [flexGrow]="5/2">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.usuario_apellido}}
        </ng-template>
     </ngx-datatable-column>

     <ngx-datatable-column name="{{ 'USERS.id' | translate }}" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.usuario_cedula}}
      </ng-template>
     </ngx-datatable-column>

      <ngx-datatable-column name="{{ 'USERS.position' | translate }}" [flexGrow]="2">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.usuario_rol}}
        </ng-template>
     </ngx-datatable-column>

     <ngx-datatable-column *ngIf="isSuper" [hidden]="hide" name="{{ 'USERS.company' | translate }}" >
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.usuario_comercio}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column *ngIf="isAdmin" name="{{ 'USERS.edit' | translate }}" sortable="false" prop="usuario_cedula" [flexGrow]="1">
        <ng-template let-row="data" let-value="value"  ngx-datatable-cell-template>
          <ion-button md-icon-button color="warning" (click)="editUser(value)">
            <ion-icon name="create"></ion-icon>
          </ion-button>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column *ngIf="isAdmin" name="{{ 'USERS.delete' | translate }}" sortable="false" prop="usuario_cedula" [flexGrow]="1">
        <ng-template let-row="data" let-value="value" ngx-datatable-cell-template>
            <ion-button md-icon-button color="warning" (click)="deleteUser(value)" > 
              <ion-icon name="trash"></ion-icon>
            </ion-button>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>

    <div id="padding"></div>
  <ion-button *ngIf="isAdmin" size="large" expand="full" color="primary" (click)="createUser()" no-margin>{{ 'USERS.addUser' | translate }}</ion-button>
  <div id="padding"></div>
</ion-content>
