#padding {
    padding-bottom: 20px;
}

.contentContainer{
    display: block;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.buttonContainer{
    display: flex;
}

.centeredButton{
    margin: auto !important;
}

@media (min-width: 768px) {
    .tableContainer{
        max-width: 70%;
        display: block;
        margin: auto;
    }
}