:host {
    ion-content {
        --background: var(--ion-color-light);
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }
}
.map {
    height: 50%;
    width: 100%;
  }

.graph {
    padding-top: 5%;
    display: grid;
    align-items: center;
    height: 70%;
}

.padding {
    padding-bottom: -100px;
}
