
:host {
    ion-content {
        --background: var(--ion-color-light);
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }
}
.map {
    height: 50%;
    width: 100%;
  }

.graph {
    display: grid;
    justify-content: center;
    height: 30%;
    //width: 80%;
}

.padding {
    padding-bottom: -100px;
}
  
.picker {
    width: 30%;
    justify-content: flex-end;
    text-align: right;
    background-color: inherit;
}

.activeCard {
    text-align: left;
}

.center {
    text-align: center;
    margin: 10px 0 5px 0;
}

.buttonContainer{
    display: flex;
    width: 100%;
    padding: 5px;
}

.centeredButton{
    margin: auto !important;
}