<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">{{ 'WAREHOUSE.warehouses' | translate }}</ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="tableContainer">
    <ngx-datatable 
      [rows]="rows"
      class="material"
      [rowHeight]="auto"
      [headerHeight]="50"
      [footerHeight]="50"
      [columnMode]="force"
      [scrollbarH]="true">

        <ngx-datatable-column name="{{ 'WAREHOUSE.wname' | translate }}">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.almacen_nombre}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ 'WAREHOUSE.numberUnit' | translate }}">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.almacen_cantidad_unidades}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ 'WAREHOUSE.address' | translate }}">
          <ng-template  let-row="row" ngx-datatable-cell-template>
            <span style="white-space: normal;">
              {{row.direccion}}
            </span> 
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="isSuper" name="{{ 'WAREHOUSE.company' | translate }}">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.almacen_comercio}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="isAdmin || isSuper" name="{{ 'USERS.edit' | translate }}" sortable="false" prop="almacen_nombre">
          <ng-template let-row="data" let-value="value" ngx-datatable-cell-template>
            <ion-button md-icon-button color="warning" (click)="editWareh(value)">
              <ion-icon name="create"></ion-icon>
            </ion-button>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="isAdmin || isSuper" name="{{ 'USERS.delete' | translate }}" sortable="false" prop="almacen_nombre">
          <ng-template let-row="data" let-value="value" ngx-datatable-cell-template>
            <ion-button md-icon-button color="warning" (click)="deleteWareh(value)" > 
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
    </div>

      <div id="padding"></div>
      <div class="buttonContainer">
        <ion-button *ngIf="isAdmin || isSuper" class="centeredButton" color="primary" (click)="createWareh()" no-margin>{{ 'WAREHOUSE.addWareh' | translate }}</ion-button>
      </div>
    <div id="padding"></div>
</ion-content>
