<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" *ngIf="!editando" class="fw700">{{ 'USERS.createUser' | translate }}</ion-text>
          <ion-text color="light" *ngIf="editando" class="fw700">{{ 'USERS.editTitle' | translate }}</ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background-content">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="4" size-xs="12" >
        <ion-card class="card-color">
          <ion-card-content>
            <ion-label position="fixed">{{ 'USERS.name' | translate }}</ion-label>
          <ion-list class="line-input">
            <ion-item>
              <ion-input placeholder="{{ 'USERS.name' | translate }}" [(ngModel)]="nombre"></ion-input>
            </ion-item>
          </ion-list>
          <ion-label position="fixed">{{ 'USERS.lastname' | translate }}</ion-label>
          <ion-list class="line-input"> 
            <ion-item>
              <ion-input placeholder="{{ 'USERS.lastname' | translate }}" [(ngModel)]="apellido"></ion-input>
            </ion-item>
          </ion-list> 
          <ion-label position="fixed">{{ 'USERS.id' | translate }}</ion-label>
          <ion-list class="line-input">
            <ion-item>
              <ion-input placeholder="{{ 'USERS.id' | translate }}" [(ngModel)]="cedulaOriginal" [disabled]="isdisabled"></ion-input>
            </ion-item>
          </ion-list>
          <ion-label *ngIf="editando" position="fixed">{{ 'USERS.newId' | translate }}</ion-label>
          <ion-list *ngIf="editando" class="line-input">
            <ion-item>
              <ion-input placeholder="{{ 'USERS.newId' | translate }}" [(ngModel)]="cedula"></ion-input>
            </ion-item>
          </ion-list>
          <ion-label position="fixed">{{ 'USERS.position' | translate }}</ion-label>
          <ion-list class="line-input">
            <ion-item>
              <select [(ngModel)]="cargo" style="background-color: inherit; border-color: transparent;">
                <option selected [value]="none" disabled style="text-align: right; color: black;" >{{ 'USERS.choose' | translate }}</option>
                <option *ngFor="let rol of roles" [value]="rol.rol_tipo" style="text-align: right; color: black;" >
                  {{rol.rol_tipo}}
                </option>
              </select>
            </ion-item>
          </ion-list>
          
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col align-self-center size-md="6" size-lg="4" size-xs="12">
        <ion-card class="card-color">
          <ion-card-content>
            <ion-label position="fixed">{{ 'USERS.schedule' | translate }}</ion-label>
              <ion-list class="line-input">
                <ion-item>
                  <select [(ngModel)]="horario" style="background-color: inherit; border-color: transparent;">
                    <option selected [value]="none" disabled style="text-align: right; color: black;" >{{ 'USERS.choose' | translate }}</option>
                    <option *ngFor="let horario of horarios" [value]="horario.hor_emp_descripcion" style="text-align: right; color: black;" >
                      {{horario.hor_emp_descripcion}}
                    </option>
                  </select>
                </ion-item>
              </ion-list>
              <ion-label position="fixed" *ngIf="isSuper">{{ 'USERS.company' | translate }}</ion-label>
              <ion-list *ngIf="isSuper" class="line-input">
                <ion-item>
                  <select [(ngModel)]="compania" style="background-color: inherit; border-color: transparent;">
                    <option selected [value]="none" disabled style="text-align: right; " >{{ 'USERS.choose' | translate }}</option>
                    <option *ngFor="let compania of companias" [value]="compania.comercio_nombre" style="text-align: right; color: black;" >
                      {{compania.comercio_nombre}}
                    </option>
                  </select>
                </ion-item>
              </ion-list>
              <ion-label position="fixed">{{ 'LOGIN.user' | translate }}</ion-label>
              <ion-list class="line-input">
                <ion-item>
                  <ion-input placeholder="{{ 'LOGIN.user' | translate }}" [(ngModel)]="username"></ion-input>
                </ion-item>
              </ion-list>
              <ion-label position="fixed">{{ 'LOGIN.password' | translate }}</ion-label>
              <ion-list class="line-input">
                <ion-item>
                  <ion-input placeholder="{{ 'LOGIN.password' | translate }}" [(ngModel)]="passwordCambio"></ion-input>
                </ion-item>
              </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
      <ion-row justify-content-center>
        <div id="padding"></div>

        <ion-button size="large" expand="block" *ngIf="editando"  (click)="crearUsuario()" color='primary'>{{ 'USERS.update' | translate }}</ion-button>
        <ion-button size="large" expand="block" *ngIf="!editando" (click)="crearUsuario()" color='primary'>{{ 'USERS.addUser' | translate }}</ion-button>

        <div id="padding"></div>
      </ion-row>
  </ion-grid>
</ion-content>
  

  