<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">{{ 'MENU.reportsRubrosTrucks' | translate }}</ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <ion-card no-margin class="no-radius">
    <ion-grid>
      <ion-row class="pickers">
        <ion-col>
          <ion-item lines="none" color="white" *ngIf="isSuper">
            <ion-label>
              <h2 no-margin class="fw500 no-margin">
                <ion-text color="black">{{ 'WAREHOUSE.company' | translate }}</ion-text>
              </h2>
            </ion-label>
            <select [(ngModel)]="company" style="background-color: inherit; border-color: transparent;" (change)="onChangeCompany()">
              <option selected [value]="none" disabled style="text-align: right; color: black;">{{ 'WAREHOUSE.company' | translate }}</option>
              <option *ngFor="let compania of companias" [value]="compania.com_nombre" style="text-align: right; color: black;">
                {{compania.com_nombre}}
              </option>
            </select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="pickers">
        <ion-col>
          <ion-item lines="none" color="white" >
            <ion-label>
              <h2 no-margin class="fw500 no-margin">
                <ion-text color="black">{{ 'REPORTS.unitId' | translate }}</ion-text>
              </h2>
            </ion-label>
            <select [(ngModel)]="unit" style="background-color: inherit; border-color: transparent;" (change)="onChangeUnit()">
              <option selected [value]="none" disabled style="text-align: right; color: black;">{{ 'REPORTS.unitId' | translate }}</option>
              <option *ngFor="let unidad of unidades" [value]="unidad.unidad_placa" style="text-align: right; color: black;">
                {{unidad.unidad_placa}}
              </option>
            </select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="buttonContainer">
        <ion-button size="medium" expand="block" (click)="getReports()" color='primary'>{{ 'REPORTS.search' | translate }}</ion-button>
      </ion-row>
      <ion-row class="pickers">
        <ion-col>
          <ion-item lines="none">
            <ion-label>
              <h2 no-margin >
                <ion-text color="#1D2731">{{ 'AREAS.area' | translate }}</ion-text>
              </h2>
            </ion-label>
            <ion-input placeholder=" - " [(ngModel)]="rubro" readonly color="#1D2731" class="ion-text-center"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item lines="none">
            <ion-label>
              <h2 no-margin class="fw500 no-margin">
                <ion-text color="dark">{{ 'AREAS.minTemp' | translate }}</ion-text>
              </h2>
            </ion-label>
            <ion-input placeholder=" - " [(ngModel)]="tmin" readonly color="#1D2731" class="ion-text-center"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item lines="none">
            <ion-label>
              <h2 no-margin class="fw500 no-margin">
                <ion-text color="dark">{{ 'AREAS.maxTemp' | translate }}</ion-text>
              </h2>
            </ion-label>
            <ion-input placeholder=" - " [(ngModel)]="tmax" readonly color="#1D2731" class="ion-text-center"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <div id="padding"></div>

  <div class="tableContainer">
    <ngx-datatable
    class="material" 
    [rows]="rows1"
    [rowHeight]="auto"
    [headerHeight]="50"
    [footerHeight]="50"
    [columnMode]="force"
    [scrollbarH]="true"
    >

    <ngx-datatable-column name="{{ 'REPORTS.date' | translate }}" [flexGrow]="2">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.fecha}}
    </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{ 'REPORTS.temperature' | translate }}" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.temperatura}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{ 'REPORTS.status' | translate }}" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.estatus}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="id" *ngIf=false>
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.id}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{ 'REPORTS.info' | translate }}" sortable="false" prop="id" [flexGrow]="1">
      <ng-template let-row="data" let-value="value"  ngx-datatable-cell-template>
        <ion-button md-icon-button color="warning" (click)="presentAlert(value)">
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
  </div>
  

</ion-content>