:host {

    ion-card {
        &.no-radius {
            border-radius: 0;
            max-width: 80%;
            margin: auto;
        }
    }
}


#padding {
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .tableContainer{
        max-width: 45%;
        display: block;
        margin: auto;
    }
}