// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary:  #0b3c5d; 
  --ion-color-primary-rgb: 96, 175, 254;
  --ion-color-primary-contrast: #F7F5E6;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #00273D;
  --ion-color-primary-tint:  #00273D;

  /** secondary **/
  --ion-color-secondary: #5b5fde;
  --ion-color-secondary-rgb: 91, 95, 222;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #4B4EB6;
  --ion-color-secondary-tint: #787CE4;

/** tertiary **/
--ion-color-tertiary: #72ABCC;
--ion-color-tertiary-rgb: 244,169,66;
--ion-color-tertiary-contrast: #fff;
--ion-color-tertiary-contrast-rgb: 255,255,255;
--ion-color-tertiary-shade: #113042;
--ion-color-tertiary-tint: #113042;

/** success **/
--ion-color-success: #10dc60;
--ion-color-success-rgb: 16,220,96;
--ion-color-success-contrast: #fff;
--ion-color-success-contrast-rgb: 255,255,255;
--ion-color-success-shade: #0ec254;
--ion-color-success-tint: #28e070;

/** warning **/
--ion-color-warning: #D9B310;
--ion-color-warning-rgb: 255, 206, 0;
--ion-color-warning-contrast: #1D2731;
--ion-color-warning-contrast-rgb: 255,255,255;
--ion-color-warning-shade: #00273D;
--ion-color-warning-tint: #004F7D;

/** danger **/
--ion-color-danger: #f53d3d;
--ion-color-danger-rgb: 245,61,61;
--ion-color-danger-contrast: #fff;
--ion-color-danger-contrast-rgb: 255,255,255;
--ion-color-danger-shade: #d83636;
--ion-color-danger-tint: #f65050;

/** light **/
--ion-color-light: #f4f4f4;
--ion-color-light-rgb: 244,244,244;
--ion-color-light-contrast: #000;
--ion-color-light-contrast-rgb: 0,0,0;
--ion-color-light-shade: #8290e0;
--ion-color-light-tint: #f5f5f5;

/** medium **/
--ion-color-medium: #2C7BA8;
--ion-color-medium-rgb: 152,154,162;
--ion-color-medium-contrast: #1D2731;
--ion-color-medium-contrast-rgb: 0,0,0;
--ion-color-medium-shade: #1D2731;
--ion-color-medium-tint: #1D2731;

/** dark **/
--ion-color-dark:  #1D2731;
--ion-color-dark-rgb: 73,157,245;
--ion-color-dark-contrast: #E8E8E8;
--ion-color-dark-contrast-rgb: 255,255,255;
--ion-color-dark-shade: #313940;
--ion-color-dark-tint: #225b7a;

/** font family **/
--ion-font-family: 'custom' !important;
font-family: 'custom' !important;

ion-input {
  font-size: 13px;
}

}

:host {
  font-size: 13px;
}

@font-face {
  font-family: 'custom';
  src: url('../assets/fonts/ProximaNova-Regular.ttf');
}
.text-custom{ 
  font-family: "custom";
}