<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div> <!-- en Global.scss -->
      <h4 no-margin>
        <ion-text color="light" class="fw700">
          Cold Chain Security
        </ion-text>
      </h4>
    </div>

    <!-- Login form -->
    <form  class="list-form" #form="ngForm" (ngSubmit)="iniciarSesion(form)" method="post">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="person" item-start></ion-icon>
          {{ 'LOGIN.user' | translate }}
        </ion-label>
        <ion-input color="secondary" ngModel type="email" name="user"></ion-input>
      </ion-item>
      

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          {{ 'LOGIN.password' | translate }}
        </ion-label>
        <ion-input color="secondary" ngModel type="password" name="password"></ion-input>
      </ion-item>
      
      <div id="padding"></div>
      <div>
        <ion-button icon-left size="medium" expand="full" shape="round" color="warning" type="submit"  tappable>
          <ion-icon name="log-in"></ion-icon>
          {{ 'LOGIN.signIn' | translate }}
        </ion-button>
      </div>

    </form>

    

    <!-- Other links -->
    

  </div>
</ion-content>