<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div> <!-- en Global.scss -->
      <h4 no-margin>
        <ion-text color="light" class="fw700">
          Cold Chain Security
        </ion-text>
      </h4>
    </div>

    <!-- Login form -->
    <form [formGroup]="onLoginForm" class="list-form">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          User
        </ion-label>
        <ion-input color="secondary" type="email" formControlName="user"></ion-input>
      </ion-item>
      

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          Password
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="password"></ion-input>
      </ion-item>
      
    </form>

    <div>
      <ion-button icon-left size="medium" expand="full" shape="round" color="warning" (click)="goToHome()"  tappable>
        <ion-icon name="log-in"></ion-icon>
        Signin
      </ion-button>
    </div>

    <!-- Other links -->
    

  </div>
</ion-content>