:host {
    ion-content {
        --background: var(--ion-color-dark);
        //linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
    }

    ion-list {
        &.list-md {
            padding: 0;
        }
    }
}

.logo {
    width: 100px;
    height: 80px;
    margin-top: 10%;
    background: url("/assets/img/logo-trans-cut.png") no-repeat;
    background-size: 100%;
  }

  #padding {
    padding-bottom: 20px;
}
