<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="dark" class="user-profile">
          <ion-item >
              <ion-menu-toggle class="mto" auto-hide="false">
                <div class="logo"></div> 
              </ion-menu-toggle>
          </ion-item>
        </ion-toolbar>
      </ion-header>

      <ion-content class="bg-profile">
        <ion-list>
          

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerLink]="[p.url]" color="dark">
              <ion-icon slot="start" [name]="p.icon" color="light"></ion-icon>
              <ion-label>
                {{ p.title | translate}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item button color="dark" (click)= "logout()">
            <ion-icon slot="start" name="log-out" color="light"></ion-icon>
            <ion-label>
              {{ 'LOGIN.logout' | translate }}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
