
.ion-select{
    --padding-top: 10px; 
}

.popover-content{
     padding-block-start: 20px;   
}

#padding{
    padding: 15px;
}

@media (min-width: 768px) {
    .tableContainer{
        max-width: 70%;
        display: block;
        margin: auto;
    }
}