@font-face {
    font-family: 'Lato-light';
    src: url('../../fonts/Lato-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-bold';
    src: url('../../fonts/Lato-Bold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Lato-Regular.ttf');
    font-style: normal;
}
