<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">Units</ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 
    <ngx-datatable 
    [rows]="rows"
    [ngClass]="tableStyle"
    [rowHeight]="auto"
    [headerHeight]="50"
    [footerHeight]="50"
    [columnMode]="force"
    [scrollbarH]="true">

      <ngx-datatable-column name="{{ 'TRUCKS.plate' | translate }}" >
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.plate}}
        </ng-template>
      </ngx-datatable-column>

     <ngx-datatable-column name="{{ 'TRUCKS.brand' | translate }}">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.brand}}
        </ng-template>
     </ngx-datatable-column>

     <ngx-datatable-column name="{{ 'TRUCKS.model' | translate }}">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.model}}
      </ng-template>
     </ngx-datatable-column>

     <ngx-datatable-column name="{{ 'TRUCKS.year' | translate }}">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.year}}
      </ng-template>
     </ngx-datatable-column>

     <ngx-datatable-column name="{{ 'TRUCKS.capacity' | translate }}">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.capacity}}
      </ng-template>
     </ngx-datatable-column>

     <ngx-datatable-column name="{{ 'TRUCKS.driverName' | translate }}">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.driver}}
      </ng-template>
     </ngx-datatable-column>

     <ngx-datatable-column name="{{ 'TRUCKS.routee' | translate }}">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span style="white-space: normal;">
          {{row.route}}
        </span>
      </ng-template>
     </ngx-datatable-column>

     <ngx-datatable-column name="{{ 'TRUCKS.wareHouse' | translate  }}">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.warehouse}}
      </ng-template>
     </ngx-datatable-column>

      <ngx-datatable-column name="{{ 'USERS.edit' | translate }}" sortable="false" prop="numero">
        <ng-template let-row="data" let-value="value" ngx-datatable-cell-template>
          <ion-button md-icon-button color="warning" (click)="editarTruck(value)">
            <ion-icon name="create"></ion-icon>
          </ion-button>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="{{ 'USERS.delete' | translate }}" sortable="false" prop="cedula">
        <ng-template let-row="data" let-value="value" ngx-datatable-cell-template>
          <ion-button md-icon-button color="warning" (click)="borrarTruck(value)" > 
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>

    <div id="padding"></div>
    <ion-button size="large" expand="full" color="primary" (click)="createTruck()" no-margin>Add unit</ion-button>
</ion-content>
