<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">{{ 'TRUCKS.truckTitle' | translate }}</ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 
    <ngx-datatable 
    [rows]="rows"
    [ngClass]="tableStyle"
    [rowHeight]="auto"
    [headerHeight]="50"
    [footerHeight]="50"
    [columnMode]="force"
    [scrollbarH]="true">

      <ngx-datatable-column name="{{ 'TRUCKS.plate' | translate }}" >
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.unidad_placa}}
        </ng-template>
      </ngx-datatable-column>

     <ngx-datatable-column name="{{ 'TRUCKS.brand' | translate }}">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.unidad_marca}}
        </ng-template>
     </ngx-datatable-column>

     <ngx-datatable-column name="{{ 'TRUCKS.model' | translate }}">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.unidad_modelo}}
      </ng-template>
     </ngx-datatable-column>

     <ngx-datatable-column name="{{ 'TRUCKS.year' | translate }}">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.unidad_ano}}
      </ng-template>
     </ngx-datatable-column>

     <ngx-datatable-column name="{{ 'TRUCKS.capacity' | translate }}">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.unidad_capacidad}}
      </ng-template>
     </ngx-datatable-column>

     <ngx-datatable-column name="{{ 'TRUCKS.driverName' | translate }}">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.unidad_conductor}}
      </ng-template>
     </ngx-datatable-column>

     <ngx-datatable-column name="{{ 'TRUCKS.routee' | translate }}">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span style="white-space: normal;">
          {{row.unidad_ruta}}
        </span>
      </ng-template>
     </ngx-datatable-column>

     <ngx-datatable-column name="{{ 'TRUCKS.company' | translate  }}">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.unidad_comercio}}
      </ng-template>
     </ngx-datatable-column>

      <ngx-datatable-column *ngIf="isAdmin || isSuper" name="{{ 'USERS.edit' | translate }}" sortable="false" prop="unidad_placa">
        <ng-template let-row="data" let-value="value" ngx-datatable-cell-template>
          <ion-button md-icon-button color="warning" (click)="editTruck(value)">
            <ion-icon name="create"></ion-icon>
          </ion-button>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column *ngIf="isAdmin || isSuper" name="{{ 'USERS.delete' | translate }}" sortable="false" prop="unidad_placa">
        <ng-template let-row="data" let-value="value" ngx-datatable-cell-template>
          <ion-button md-icon-button color="warning" (click)="deleteTruck(value)" > 
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>

    <div id="padding"></div>
    <ion-button *ngIf="isAdmin || isSuper" size="large" expand="full" color="primary" (click)="createTruck()" no-margin>{{ 'TRUCKS.addTruck' | translate  }}</ion-button>
    <div id="padding"></div>
  </ion-content>
